*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
display: flex;
justify-content: center;
background-color: black;
}

.container{
    margin: auto;
    min-width: 300px;
    max-width: 800px;
    padding: 1rem;
    
}

.score-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top{
    width: 100%;
    text-align: right;

}

.description{
    padding: 2rem;
    border-bottom: 1px solid grey;
    width: 80%;
    text-align: center;

}

.selection{
padding: 3rem;
display: flex;
gap: 1rem;
}

#rock, #paper, #scissor{
    width: 5rem;
}